<header class="navigation header-main">
  <div class="logo-header">
    <a href="{% url 'home'%}">
      <!-- <img src="" class="logo" alt="" /> -->
      <span class="logo">Logo</span>
    </a>
  </div>

  <div class="menu-icon">
    <div class="line line-1"></div>
    <div class="line line-2"></div>
  </div>

  <nav class="navbar">
    <ul class="navbar-list">
      <li><a class="navbar-list-link" href="{% url 'home' %}">Home</a></li>
      <li>
        <a class="navbar-list-link" href="">Our community</a>
      </li>
      {% if user.is_authenticated %}

      <li><a class="navbar-list-link" href="">Hello, {{request.user}}</a></li>
      <li>
        <a class="navbar-list-link" href="{% url 'dating' %}">Dating</a>
      </li>
      <li>
        <a class="navbar-list-link" href="{% url 'logout-view'%}">Logout</a>
      </li>
      {% else %}
      <li><a class="navbar-list-link" href="">Contact</a></li>
      <li>
        <a class="navbar-list-link" href="{% url 'login-view' %}">Login</a>
      </li>
      <li>
        <a class="navbar-list-link" href="{% url 'register' %}">Sign Up</a>
      </li>
      {% endif %}
    </ul>
  </nav>
</header>
