{% extends 'partial/base.html' %} {% load static%} {% block title%} Sign-In
{%endblock title %}{% block content %}{% include 'partial/navbar.html'%}
<main>
  <link rel="stylesheet" href="{% static 'css/dating.css'%}" />
  <section class="dating">
    <div class="dating-wrapper">
      <div class="dating-header">
        <i class="fa-solid fa-heart icon fa-3x"></i>
        <h1 class="dating-h1">Dating</h1>
        <p class="dating-description">Get fun with over 1000+ men and woman</p>
      </div>
      <div class="dating-content">
        <div class="dating-card">
          <a
            ><img
              src="{% static 'Images/model-2.jpg' %}"
              alt="Picture of a black lady"
          /></a>
          <p class="dating-availability">online</p>
          <div class="circle-green"></div>
        </div>
        <div class="dating-card">
          <a
            ><img
              src="{% static 'Images/model-3.jpg' %}"
              alt="Picture of a black lady"
          /></a>
          <p class="dating-availability">online</p>
          <div class="circle-green"></div>
        </div>
        <div class="dating-card">
          <a
            ><img
              src="{% static 'Images/model-1.jpg' %}"
              alt="Picture of a black lady"
          /></a>
          <p class="dating-availability">online</p>
          <div class="circle-green"></div>
        </div>
        <div class="dating-card">
          <a
            ><img
              src="{% static 'Images/model-2.jpg' %}"
              alt="Picture of a black lady"
          /></a>
          <p class="dating-availability">online</p>
          <div class="circle-green"></div>
        </div>
      </div>
      <div class="dating-content">
        <div class="dating-card">
          <a
            ><img
              src="{% static 'Images/model-2.jpg' %}"
              alt="Picture of a black lady"
          /></a>
          <p class="dating-availability">online</p>
          <div class="circle-green"></div>
        </div>
        <div class="dating-card">
          <a
            ><img
              src="{% static 'Images/model-3.jpg' %}"
              alt="Picture of a black lady"
          /></a>
          <p class="dating-availability">online</p>
          <div class="circle-green"></div>
        </div>
        <div class="dating-card">
          <a
            ><img
              src="{% static 'Images/model-1.jpg' %}"
              alt="Picture of a black lady"
          /></a>
          <p class="dating-availability">online</p>
          <div class="circle-green"></div>
        </div>
        <div class="dating-card">
          <a
            ><img
              src="{% static 'Images/model-2.jpg' %}"
              alt="Picture of a black lady"
          /></a>
          <p class="dating-availability">online</p>
          <div class="circle-green"></div>
        </div>
      </div>
      <div class="dating-content">
        <div class="dating-card">
          <a
            ><img
              src="{% static 'Images/model-2.jpg' %}"
              alt="Picture of a black lady"
          /></a>
          <p class="dating-availability">online</p>
          <div class="circle-green"></div>
        </div>
        <div class="dating-card">
          <a
            ><img
              src="{% static 'Images/model-3.jpg' %}"
              alt="Picture of a black lady"
          /></a>
          <p class="dating-availability">online</p>
          <div class="circle-green"></div>
        </div>
        <div class="dating-card">
          <a
            ><img
              src="{% static 'Images/model-1.jpg' %}"
              alt="Picture of a black lady"
          /></a>
          <p class="dating-availability">online</p>
          <div class="circle-green"></div>
        </div>
        <div class="dating-card">
          <a
            ><img
              src="{% static 'Images/model-2.jpg' %}"
              alt="Picture of a black lady"
          /></a>
          <p class="dating-availability">online</p>
          <div class="circle-green"></div>
        </div>
      </div>
      <div class="dating-content">
        <div class="dating-card">
          <a
            ><img
              src="{% static 'Images/model-2.jpg' %}"
              alt="Picture of a black lady"
          /></a>
          <p class="dating-availability">online</p>
          <div class="circle-green"></div>
        </div>
        <div class="dating-card">
          <a
            ><img
              src="{% static 'Images/model-3.jpg' %}"
              alt="Picture of a black lady"
          /></a>
          <p class="dating-availability">online</p>
          <div class="circle-green"></div>
        </div>
        <div class="dating-card">
          <a
            ><img
              src="{% static 'Images/model-1.jpg' %}"
              alt="Picture of a black lady"
          /></a>
          <p class="dating-availability">online</p>
          <div class="circle-green"></div>
        </div>
        <div class="dating-card">
          <a
            ><img
              src="{% static 'Images/model-2.jpg' %}"
              alt="Picture of a black lady"
          /></a>
          <p class="dating-availability">online</p>
          <div class="circle-green"></div>
        </div>
      </div>
    </div>
  </section>
</main>

{% endblock content %}
