{% extends 'partial/base.html' %} {% load static%} {% block title %}Sign-In
{%endblock title %}{% block content %} {% include 'partial/navbar.html' %}
<main>
  <link rel="stylesheet" href="{% static 'css/register.css'%}" />
  <section class="register-form">
    <div class="form-wrapper">
      <div class="form-header">
        <i class="fa-solid fa-user-plus fa-2x"></i>
        <h1 class="form-h1">Sign up</h1>
        <p class="login-description">To access your Dashboard</p>
      </div>
      <form class="form-main" method="post">
        {% csrf_token %} {{ form}} <button type="submit">Submit</button>
      </form>
      <div>
        {% for message in messages %}
        <p>{{ message}}</p>
        {% endfor %}
      </div>
    </div>
  </section>
</main>

{% endblock content %}
