/* BELOW 1344px (Smaller destop) */
@media (max-width: 84em) {
  .header-main {
    max-width: 120rem;
  }
  .hero {
    max-width: 120rem;
  }
  .hero-main-img {
    max-width: 120rem;
  }
  .hero-content h1 {
    font-size: 8rem;
  }

  .event-wrapper {
    position: relative;
    width: 90rem;
    margin: 9rem auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.2);
    border-radius: 1rem;
    margin-bottom: 8rem;
    z-index: 1;
  }
  .event-content {
    margin-top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding: 2rem 4rem;
  }
  .section-pricing {
    width: 100rem;
    padding: 9.6rem 0;
    margin: auto;
  }
  .reward {
    width: 100%;
    height: 70vh;
  }
  .bg-1 {
    position: absolute;
    /* background-color: #8430ea; */
    background: linear-gradient(to right, transparent, transparent, #8430ea);
    width: 20rem;
    height: 20rem;
    top: 5%;
    right: 5%;
    border-radius: 50%;
    opacity: 0.3;
    transform: rotate(-30deg);
  }
  .bg-2 {
    position: absolute;
    background-color: #452622;
    width: 20rem;
    height: 20rem;
    border-radius: 5rem;
    bottom: -8%;
    left: 5%;
    background: linear-gradient(to left, transparent, transparent, #74b5ff);
    opacity: 0.3;
    transform: rotate(-25deg);
  }
}

/* BELOW 1200px (landscape Tablet) */

@media (max-width: 75em) {
  html {
    /* 9px / 16px */
    font-size: 56.25%;
  }
  .grid {
    gap: 6.4rem;
  }
  .navbar-list {
    gap: 3.2rem;
  }
}

/* BELOW 944px ( Tablet) */

@media (max-width: 59rem) {
  html {
    /* 8px / 16px */
    font-size: 50%;
  }
  /* .grid-col-2 {
    column-gap: 3.2rem;
    row-gap: 3.4rem;
  } */
  footer {
    height: 40vh;
  }
  .container-heading {
    text-align: center;
  }
  .bg-1 {
    position: absolute;
    /* background-color: #8430ea; */
    background: linear-gradient(to right, transparent, transparent, #8430ea);
    width: 20rem;
    height: 20rem;
    top: 5%;
    right: 0;
    border-radius: 50%;
    opacity: 0.3;
    transform: rotate(-30deg);
  }
  .bg-2 {
    position: absolute;
    background-color: #452622;
    width: 20rem;
    height: 20rem;
    border-radius: 5rem;
    bottom: -8%;
    left: 0;
    background: linear-gradient(to left, transparent, transparent, #74b5ff);
    opacity: 0.3;
    transform: rotate(-25deg);
  }

  .navigation {
    background-color: #fff;
  }

  .navigation .logo {
    color: #8430ea;
    text-shadow: none;
  }

  .navbar {
    background-color: #fff;
  }
  .navbar-list {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: #fff;
    position: absolute;
    top: 7rem;
    left: 0;
    width: 100%;
    height: calc(100vh -7rem);
  }
  .navbar {
    color: #333;
  }

  .navbar-list-link {
    width: 100%;
    height: 12rem;
    display: flex;
    align-items: center;
    padding-left: 10rem;
  }

  .menu-icon {
    width: 4rem;
    height: 2rem;
    position: absolute;
    top: 4rem;
    right: 8rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .line {
    width: 100%;
    height: 0.4rem;
    background-color: #8430ea;
  }
  .line-1 {
    transform: rotate(45deg) translateY(1.2rem);
  }
  .line-2 {
    transform: rotate(-45deg) translateY(-1.2rem);
  }
}
