{% extends 'partial/base.html' %} {% load static%} {% block title %}Home
{%endblock title %}{% block content %} {% include 'partial/navbar.html' %}
<main>
  <section class="hero">
    <img
      src="{% static 'Images/hero-3.png' %}"
      class="hero-main-img"
      alt="People at the beach side"
    />
    <div class="hero-content">
      <h1>Events Center</h1>
      <h3>Connect with our Community</h3>
      <button class="hero-btn">Join Now</button>
      <i class="fa-solid fa-arrow-down fa-2x bounce"></i>
    </div>
  </section>
  <section class="event">
    <h1>WHAT WE OFFER</h1>
    <div class="event-wrapper">
      <div class="event-content">
        <div class="event-content-1">
          <i class="fa-solid fa-heart icon"></i>
          <h2>Dating</h2>

          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati,
            sunt similique iure odit minus veniam a ratione incidunt voluptas?
            Vel optio ullam quam dolores nostrum ipsum temporibus exercitationem
            blanditiis ea.
          </p>
          <button class="event-register-btn">
            <a href="#register">Register Now</a>
          </button>
        </div>
        <div class="event-content-2">
          <i class="fa-solid fa-business-time icon"></i>
          <h2>Register Your Business</h2>

          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum magni
            repudiandae ad sed consectetur, similique amet dolor fugiat quisquam
            quaerat, itaque quidem quasi impedit accusantium perferendis
            doloremque distinctio, asperiores eveniet!
          </p>
          <button class="event-register-btn">
            <a href="#register">Register Now</a>
          </button>
        </div>
        <div class="event-content-3">
          <i class="fa-solid fa-microphone-lines"></i>
          <h2>Live Events</h2>
          <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Doloremque
            pariatur explicabo ipsam voluptatem voluptatibus expedita
            praesentium dicta consequuntur, eveniet laboriosam iure, harum culpa
            quae ratione voluptatum amet maxime cupiditate fuga!
          </p>
          <button class="event-register-btn">
            <a href="#register">Register Now</a>
          </button>
        </div>
      </div>
    </div>
    <div class="bg-1"></div>
    <div class="bg-2"></div>
  </section>
  <section class="reward">
    <div class="reward-wrapper">
      <h1>The Biggest Event in Accra</h1>
      <h1>Coming Soon</h1>
      <span class="times">00:00:00</span>
    </div>
  </section>

  <section class="newsletter">
    <div class="newsletter-wrapper">
      <div class="newsletter-icon">
        <span class="material-symbols-rounded"> mark_as_unread </span>
      </div>
      <h1>Subscribe Now!</h1>
      <p>Enter your email to receive updates.</p>
      <div class="newsletter-input-group">
        <input type="text" name="email" placeholder="Your Email" />
        <button type="button">Subscribe</button>
      </div>
      <div class="newsletter-shadow"></div>
    </div>
  </section>
  <div class="section-pricing" id="register">
    <div class="container-heading">
      <span class="pricing-subheading">Pricing</span>
      <h2 class="pricing-heading-secondairy">
        Want a low cost way to meet people or advertise your business?
      </h2>
    </div>
    <div class="container grid-col-2">
      <div class="pricing-plan pricing-plan--single">
        <header class="plan-header">
          <p class="plan-name">Single</p>
          <p class="plan-pricing">
            <span>GHC</span>1000<span id="per-year">per year</span>
          </p>
          <p class="plan-text">per month. That's GHC20</p>
        </header>
        <ul class="list">
          <li class="list-item">
            <i class="fa-solid fa-check fa-2x"></i><span>Meet new people</span>
          </li>
          <li class="list-item">
            <i class="fa-solid fa-check fa-2x"></i
            ><span>Express your goals</span>
          </li>
          <li class="list-item">
            <i class="fa-solid fa-check fa-2x"></i
            ><span>Find partners for a cause important to you</span>
          </li>
          <li class="list-item">
            <i class="fa-solid fa-check fa-2x"></i><span>Find A Date!</span>
          </li>
          <li class="list-item">
            <i class="fa-solid fa-check fa-2x"></i
            ><span>Create a profile now</span>
          </li>
          <li class="list-item">
            <i class="fa-solid fa-check fa-2x"></i><span>Direct Message</span>
          </li>
          <li class="list-item">
            <i class="fa-solid fa-check fa-2x"></i><span>Video Call</span>
          </li>
          <li class="list-item">
            <i class="fa-solid fa-xmark fa-2x"></i>
          </li>
          <li class="list-item">
            <i class="fa-solid fa-xmark fa-2x"></i>
          </li>
        </ul>
        <div class="plan-sign-up">
          <button class="sign-up-btn">Register Now</button>
        </div>
      </div>
      <div class="pricing-plan pricing-plan--business">
        <header class="plan-header">
          <p class="plan-name">Business</p>
          <p class="plan-pricing">
            <span>GHC</span>10000<span id="per-year">per year</span>
          </p>
          <p class="plan-text">per month. That's GHC1000</p>
        </header>
        <ul class="list">
          <li class="list-item">
            <i class="fa-solid fa-check fa-2x"></i
            ><span>Register Your Business</span>
          </li>
          <li class="list-item">
            <i class="fa-solid fa-check fa-2x"></i><span>Create a listing</span>
          </li>
          <li class="list-item">
            <i class="fa-solid fa-check fa-2x"></i><span>Direct Message</span>
          </li>
          <li class="list-item">
            <i class="fa-solid fa-check fa-2x"></i><span>Video Call</span>
          </li>
          <li class="list-item">
            <i class="fa-solid fa-check fa-2x"></i
            ><span>Download Pictures</span>
          </li>
          <li class="list-item">
            <i class="fa-solid fa-check fa-2x"></i
            ><span>Make a video or commercial and post it on your page</span>
          </li>
          <li class="list-item">
            <i class="fa-solid fa-check fa-2x"></i
            ><span>Free Tv comercials Broadcasting</span>
          </li>
          <li class="list-item">
            <i class="fa-solid fa-check fa-2x"></i
            ><span>Free Help in writing editing, and making a TV spot</span>
          </li>
          <li class="list-item">
            <i class="fa-solid fa-check fa-2x"></i
            ><span>Free Google search new people will find you</span>
          </li>
        </ul>
        <div class="plan-sign-up">
          <button class="sign-up-btn">Register Now</button>
        </div>
      </div>
    </div>
  </div>
</main>
{%include 'partial/footer.html' %}
<script src="{% static 'js/eventTime.js' %}"></script>
{% endblock content %}
